<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">
      <ion-icon name="airplane" class="icon"></ion-icon> Envuelvete de nieve
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="destinations">
  <div class="row">
    <ion-card class="top-card">
      <ion-img class="destination-img" src="assets/islandia2.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Islandia</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>Islandia es conocida por su impresionante belleza natural, con cascadas majestuosas, géiseres, glaciares y auroras boreales. Descubre un paisaje único y experimenta la cultura islandesa única.</p>
      </ion-card-content>
    </ion-card>

    <ion-card class="top-card">
      <ion-img class="destination-img" src="assets/Noruega.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Noruega</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>Noruega ofrece fiordos espectaculares, montañas imponentes y una rica herencia vikinga. Explora los paisajes escénicos, visita los encantadores pueblos costeros y disfruta de la vida al aire libre.</p>
      </ion-card-content>
    </ion-card>
  </div>

  <div class="row">
    <ion-card class="bottom-card">
      <ion-img class="destination-img" src="assets/Finlandia.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Finlandia</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>Finlandia, conocida como la tierra de los mil lagos, ofrece una mezcla de naturaleza virgen y modernidad. Explora la cultura finlandesa, disfruta de saunas tradicionales y contempla la aurora boreal.</p>
      </ion-card-content>
    </ion-card>

    <ion-card class="bottom-card">
      <ion-img class="destination-img" src="assets/Alaska.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Alaska</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>Alaska es un destino salvaje y majestuoso con paisajes glaciares, vida silvestre abundante y montañas impresionantes. Descubre la belleza natural, realiza excursiones de aventura y disfruta de la vida al aire libre.</p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
