<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">
      <ion-icon name="airplane" class="icon"></ion-icon> Viaja al pasado
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="destinations">
  <div class="row">
    <ion-card class="top-card">
      <ion-img class="destination-img" src="assets/atenas.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Grecia</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>Grecia, cuna de la civilización occidental, es conocida por sus antiguas ruinas, playas impresionantes y deliciosa comida mediterránea.</p>
      </ion-card-content>
    </ion-card>

    <ion-card class="top-card">
      <ion-img class="destination-img" src="assets/cairo.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Egipto</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>Egipto, hogar de las pirámides y el río Nilo, ofrece una experiencia única con su rica historia, misterios arqueológicos y hermosos paisajes.</p>
      </ion-card-content>
    </ion-card>
  </div>

  <div class="row">
    <ion-card class="bottom-card">
      <ion-img class="destination-img" src="assets/roma.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Italia</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>Italia, famosa por su arte, arquitectura y gastronomía, te invita a explorar ciudades como Roma, Florencia y Venecia, y disfrutar de su encanto único.</p>
      </ion-card-content>
    </ion-card>

    <ion-card class="bottom-card">
      <ion-img class="destination-img" src="assets/estambul.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Estambul</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>Estambul, la ciudad que conecta Europa y Asia, ofrece una mezcla fascinante de culturas, historia y belleza arquitectónica, con lugares como la Mezquita Azul y Hagia Sophia.</p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
